#wpfront-scroll-top-container {
    display: none;
    position: fixed;
    cursor: pointer;
    z-index: 9999;
}
/*
     FILE ARCHIVED ON 04:23:49 Feb 15, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:06:28 Oct 09, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.863
  exclusion.robots: 0.206
  exclusion.robots.policy: 0.185
  cdx.remote: 0.14
  esindex: 0.017
  LoadShardBlock: 47.02 (3)
  PetaboxLoader3.datanode: 69.034 (5)
  load_resource: 133.224 (2)
  PetaboxLoader3.resolve: 72.223 (2)
*/